html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  background-image: url(./assets/images/pizza.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
} 
